################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AvinyaQuickComAPI/FileContentIndex/2dd332b3-9656-4354-918f-5e292dcf13ad.vsidx
/.vs
/VenkateshQuickCommerceAPI/.vs
